<ion-view view-title="Advance Search">
  <ion-content>
    <form ng-submit="startSearch()">
      <div class="list">
        <a id="closeGeneralSearch" class="item item-icon-right"
           ng-click="openElement('closeGeneralSearch','openGeneralSearch','generalInfoSearch')">
          <i class="icon ion-android-add-circle"></i>
          General
        </a>

        <a id="openGeneralSearch" class="item item-icon-right"
           ng-click="closeElement('closeGeneralSearch','openGeneralSearch','generalInfoSearch')">
          <i class="icon ion-minus-circled"></i>
          General
        </a>

        <ion-list id="generalInfoSearch">
          <!-- <div id="generalInfoSearch" class="list"> -->
          <label class="item item-input">
            <span class="input-label">Room</span>
            <input type="text" ng-model="search.roomName">
          </label>

          <!--
          <label class="item item-input">
            <span class="input-label">Department</span>
            <input type="text" ng-model="search.department">
          </label>
          -->
          <!--           <label class="item item-input">
                      <span class="input-label">Belongs to</span>
                      <input type="text" ng-model="search.owner">
                    </label> -->
        </ion-list>
        <!-- </div> -->

        <div ng-repeat="tagType in tagTypes">
          <a id={{tagType.closeTagSearchElement}} class="item item-icon-right"
             ng-click="openElement(tagType.closeTagSearchElement,tagType.openTagSearchElement,tagType.tagInfoSearchElement)">
            <i class="icon ion-android-add-circle"></i>
            {{tagType.tagType}}
          </a>

          <a id={{tagType.openTagSearchElement}} class="item item-icon-right"
             ng-click="closeElement(tagType.closeTagSearchElement,tagType.openTagSearchElement,tagType.tagInfoSearchElement)">
            <i class="icon ion-minus-circled"></i>
            {{tagType.tagType}}
          </a>

          <ion-list id={{tagType.tagInfoSearchElement}}>
            <ion-checkbox ng-repeat="tag in tagType.tags" ng-model="tags[tagType.tagType][tag.name]">{{tag.name}}
            </ion-checkbox>
          </ion-list>
        </div>

        <a id="closeTimeSearch" class="item item-icon-right"
           ng-click="openElement('closeTimeSearch','openTimeSearch','timeInfoSearch')">
          <i class="icon ion-android-add-circle"></i>
          Time/Event
        </a>

        <a id="openTimeSearch" class="item item-icon-right"
           ng-click="closeElement('closeTimeSearch','openTimeSearch','timeInfoSearch')">
          <i class="icon ion-minus-circled"></i>
          Time/Event
        </a>

        <ion-list id="timeInfoSearch">
          <ion-radio ng-click="eventChecked()">Event</ion-radio>
          <div id="showEvent">
            <label class="item item-input">
              <input type="text" placeholder="Event" ng-model="event.eventName">
            </label>
            <ion-item>
              <ion-label class="startDate">Start Date</ion-label>
              <input id="chooseDateForEvent" class="startDateInput" type="date" value="">
            </ion-item>
          </div>

          <ion-radio ng-click="freeChecked()">Free</ion-radio>

          <ion-list id="showDateTimePicker">
            <ion-item>
              <ion-label class="startDate">Start Date</ion-label>
              <input id="chooseDate" class="startDateInput" type="date" value="">
            </ion-item>
            <ion-item class="time">
              <ion-label>Start Time</ion-label>
              <input type="time" id="startTime" min=6:00 max=23:00 value="08:00">
            </ion-item>

            <ion-item class="time">
              <ion-label>Ends Time</ion-label>
              <input type="time" id="endsTime" min=6:00 max=23:00 value="09:30">
            </ion-item>
          </ion-list>

        </ion-list>

        <a id="closePhysical" class="item item-icon-right"
           ng-click="openElement('closePhysical','openPhysical','choosePhysical')">
          <i class="icon ion-android-add-circle"></i>
          Physical characteristics
        </a>

        <a id="openPhysical" class="item item-icon-right"
           ng-click="closeElement('closePhysical','openPhysical','choosePhysical')">
          <i class="icon ion-minus-circled"></i>
          Physical characteristics
        </a>

        <ion-list id="choosePhysical">
          <ion-item class="physical">
            <ion-label>Width</ion-label>
            <input type="number" min=0 placeholder="0" ng-model="physical.width">
          </ion-item>

          <ion-item class="physical">
            <ion-label>Height</ion-label>
            <input type="number" min=0 placeholder="0" ng-model="physical.height">
          </ion-item>

          <ion-item class="physical">
            <ion-label>Capacity</ion-label>
            <input type="number" min=0 placeholder="0" ng-model="physical.capacity">
          </ion-item>
        </ion-list>

        <button id="searchBtn" class="button button-block">Search</button>

        </ion-list>
      </div>
      </div>
    </form>
  </ion-content>
</ion-view>
