<ion-view title="Change Map">
  <ion-content>
<!--     <button ng-repeat="site in sites" ng-click="setSite(site.siteId)" class="chooseSite">
      {{site.name}}
    </button> -->
    <div class="list">
    <a id="siteList"class="item item-thumbnail-left" ng-repeat="site in sites" ng-click="setSite(site.siteId)" class="chooseSite">
     <img id="siteLogo" ng-src="img/{{site.name}}.png" alt="siteLogo" />
      <!-- <img id="siteLogo" src="img/Shenkar2.png"> -->
      <h2>{{site.name}}</h2>
      <p>{{site.description}}</p>
    </a>

</div>
  </ion-content>
</ion-view>
