<ion-view ng-click="showCoords($event)" title="{{Logo}}">
  <ion-nav-buttons side="secondary">
    <button class="buttons button-icon ion-android-search" ng-click="showFilterBar()"></button>
  </ion-nav-buttons>
  <ion-content >
  <div id="sideMenu">
    <div id="switchFloors">
      <form>
        <button class="button icon-right ion-arrow-up-a button-clear" ng-click="floorUp()"></button>
        <input id="chooseFloor" name="input" type="text" ng-model="chooseRoom.value">
        <button class="button icon-right ion-arrow-down-a button-clear" ng-click="floorDown()"></button>
      </form>
    </div>
    <div id="zoom">
      <button class="button icon-right ion-plus-round button-clear" ng-click="incrementMapZoom()"></button>
      <button class="button icon-right ion-minus-round button-clear" ng-click="decrementMapZoom()"></button>
    </div>
    <div id="userPosiBtn">
    <button class="button icon-right ion-android-locate button-clear" ng-click="returnToUserPosition()"></button>
    </div>
<!--     <div id="returnToUserPosition" ng-click="returnToUserPosition()">
    </div> -->
  </div>

<div class="bar bar-footer">
 <div id="showFooterMenu">
 <div class="tabs tabs-icon-top">
  <a id="goInput" class="tab-item" ng-click="showGoInput()">
    <i class="icon ion-android-walk"></i>
    Go To
  </a>
  <form id="inputRoom2Go">
    <input id="setRoom" type="text" ng-model="searchRoom.name" placeholder="Room">
    <button id="cancelBtn" class="icon ion-android-cancel" ng-click="cancelGoTo()"></button>
    <button id="setRoomBtn" ng-click="searchRoom2Go()">Go!</button>
  </form>

  <a class="tab-item" id="clearRoom">
    <i class="icon ion-trash-a" ng-click="callClearPath()"></i>
    Clear Map
  </a>

  <a class="tab-item" id="clearRoom2">
    <i class="icon ion-trash-a" ng-click="callClearPath()"></i>
    Clear Map
  </a>
</div>
</div>

<div id="mapClickedMenu">
<div  class="tabs tabs-icon-top">
  <a class="tab-item" ng-click="navigateTo()">
    <i class="icon ion-navigate"></i>
      Navigate to
  </a>

<!--   <a class="tab-item">
    <i class="icon ion-clipboard"></i>
      Actions
  </a> -->

  <a class="tab-item">
    <i class="icon ion-information-circled"></i>
      Information
  </a>

  <a class="tab-item" ng-click="updateLocation()">
    <i class="icon ion-location"></i>
      Update location
  </a>
</div>
</div>
</div>

<!-- <div class="bar bar-footer">
  <button class="button button-clear">Left</button>
    <input id="setRoom" type="text"placeholder="Room">
  <button class="button button-clear">Right</button>
</div> -->

    <ion-scroll  id = "wrapper">
      <div id="mapSection">
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
