<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
<!--       <ion-nav-back-button>
      </ion-nav-back-button> -->

      <ion-nav-buttons side="left" >
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent">
    </ion-nav-view>
  </ion-side-menu-content>


  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <!-- <ion-item menu-close ng-click="login()"> -->
        <ion-item menu-close href="#/app/advanceSearch">
          Advance search
        </ion-item>
        <ion-item menu-close href="#/app/schedule">
          Schedule
        </ion-item>
        <ion-item menu-close href="#/app/changeMap">
          Change map
        </ion-item>
        <ion-item menu-close href="#/app/map">
          Map
        </ion-item>
        <ion-item menu-close href="#/app/settings">
          Settings
        </ion-item>
<!--         <ion-item menu-close href="#/app/login">
          Login
        </ion-item> -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
