<ion-view view-title="Schdule">
  <ion-content>
    <div class="list" id="schdulePage">
      <div class="item item-button-right">
        My Schdule
      </div>

      <label class="item item-input">
        <span id="calendarIcon" class="icon ion-calendar" ></span>
        <input id="chooseDateForEvents" class="startDateInput" type="date" value="">
      </label>

      <div class="item item-button-right" ng-repeat="event in events| orderBy : 'dateTimeStart'">
        {{event.dateTimeStart | date : 'hh:mm a'}}
        <span class="eventPosition">{{event.name}}</span>
        <br>
        {{event.dateTimeEnd | date : 'hh:mm a'}}
        <span class="eventPosition">{{event.description}}</span>
        <button class="button icon-right" id="navigateEvent" ng-click="navigateToEvent(event.spaceUnitIds[0])">
          <i class="icon ion-navigate"></i>
        </button>
        <button class="button icon-right" id="infoEvent" ng-click="getEventInfo(event.spaceUnitIds)">
          <i class="icon ion-information-circled"></i>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
