<ion-view view-title="Search Results">
  <ion-content>
  <div class="list" id="resultPage">
  <div class="item item-button-right" ng-model="counter">
      {{counter}} Results
  </div>
  <div class="item item-button-right" ng-repeat="result in results">
    {{result.buildingName}},
    Floor: {{result.floorName}},
    Room: {{result.name}}
    <button class="button icon-right" ng-click="showResultOnMap(result)">
      <i class="icon ion-eye"></i>
    </button>
    <button class="button icon-right" id="navigateResult" ng-click="navigateToResult(result.spaceUnitId)">
      <i class="icon ion-navigate"></i>
    </button>
<!--     <button class="button">
      <i class="icon ion-navigate" id="navigateResult"></i>
    </button> -->
  </div>
</div>
  </ion-content>
</ion-view>
