<ion-view view-title="Settings">
  <ion-content>
   <div class="list card">
    <div class="item item-image">
      <img src="img/userAvatar3.png">
      <h2>{{userData.name}}</h2>
    </div>

    <a class="item item-icon-left">
      <i class="icon ion-email"></i>
      &nbsp&nbsp&nbsp
      {{userData.email}}
    </a>

 
      
     <ion-toggle id="toggleView" toggle-class="toggle-calm"
                  ng-repeat="item in settingsList"
                  ng-model="item.checked"
                  ng-checked="item.checked"
                  ng-change="changeSpecialMode()" >
        {{item.text}}
    </ion-toggle>
</div>


  </ion-content>
</ion-view>
