<ion-view title="{{loginLogo}}">
<ion-modal-view>
  <ion-header-bar>
    <ion-nav-bar></ion-nav-bar>
    <h1 class="title">Sing in</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doSingIn()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="singInData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="singInData.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Full Name</span>
          <input type="text" ng-model="singInData.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="singInData.email">
        </label>
        <label class="item">
          <button class="button button-block button-balanced" type="submit">Done</button>
        </label>
        <a href="#/app/login" class="singIn">Back</a>


      </div>
    </form>
  </ion-content>
</ion-modal-view>
</ion-view>