/* Empty. Add your own CSS if you like */
/*.title{
  background-color: #606060;
}*/

*{
  margin: 0px;
  padding: 0px;

}

.chouseSiteButton{

}
header, footer, main, aside, article, section, nav {
  display:block;
}

#switchFloors{
    /*background-color: #808080;*/
    /*opacity: 0.4;*/
    position: fixed;
    top: 350px;
    right: 0;
    width: 30px;
}

#chooseFloor{
    /*opacity: 0.7;*/
    width: 30px;
    height: 30px;
    text-align: center;
    float: right;
    background-color: #F8F8F8;
}

#switchFloors button{
    color: #7A7A7A;
    display: block;
    float: right;
    position: relative;
    right: -2px;
}

#zoom{
    /*background-color: #7A7A7A;*/
    /*opacity: 0.4;*/
    width: 30px;
    position: fixed;
    right: 0;
    top: 220px;
}

#zoom button{
    color: #7A7A7A;
    display: block;
    float: right;
    position: relative;
}

#userPosiBtn{
    position: fixed;
    top: 150px;
    right: -3px;
}

#userPosiBtn button{
    color: rgba(68, 68, 68, 0.88);
    display: block;
    float: right;
    position: relative;
}


/*#returnToUserPosition{
    background-image: url("../img/position3.png");
    background-repeat: no-repeat;
    opacity: 0.7;
    width: 33px;
    height: 30px;
    display: block;
    position: fixed;
    right: 0px;
    top: 160px;
}*/

#userPosition{
    background-image: url("../img/currentLocation.png");
    display: block;
    width: 30px;
    height: 30px;
}


.logo-image{
    margin-left: 57px;
    display: block;
}

.logo-image-login{
    margin-left: 111px;
    display: block; 
}

#wrapper{
    width: 91%;
    height: 92%;
    /*margin: 0 auto;*/
    overflow: scroll;
}
.mapUnit{
    background: #EAEAEA;
    border-style: none;
    width: 50px;
    height: 50px;
    float:left;
    margin:0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.roomCanvas{
    box-sizing: border-box;
    background-color: #D8BD5C;
    position :absolute;
    border-style:solid;
    margin:0;
}

.officeCanvas{
    box-sizing: border-box;
    background: #ffffff;
    /*background :#778899;*/
    position :absolute;
    border-style:solid;
    margin:0;
}
.mapArrayUnit{
    margin:0;
    width: 40px;
    height: 40px;
}
#mapSection{
    zoom: 110% ;
    margin:0;
    background: yellow;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.clear{
    clear: both;
}
.room{
    background-color: #F7EEDA;
}

.empty{
    background-color: black;
}

.elevator{
    background-size:50px 50px;
    background-repeat: no-repeat;
    background-image: url("../img/elevator2.png");
    /*border-color: #696969;*/
}

.stairs{
    background-size:50px 50px;
    background-image: url("../img/stairs2.png");
    /*border-color: #696969;*/
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

#toggleView{
    color: #000000;
}

#test{
    width: 50px;
    height: 100px;
}


/*#inputRoom2Go{
    position: fixed;
    bottom: 0px;
}*/

#clearRoom{
    float: right;
}

#clearRoom2{
    position: fixed;
    right: 25px;
}
#setRoom{
    position: fixed;
    left: 5px;
    bottom: 8px;
    width: 140px;
    /*float: left;*/
    /*margin: 10px;*/
    background-color: #fff;
}

#setRoomBtn{
    position: fixed;
    left: 160px;
    bottom: 5px;
    font-size: 15px;
    width: 50px;
    height: 38px;
}

#cancelBtn{
    position: fixed;
    left: 213px;
    bottom: 5px;
    height: 38px;
}

#siteLogo{
    height: 50px;
    width: 50px;
    margin-left: 12px;
    margin-top: 12px;
}

#siteList h2{
    margin-top: 20px;
}

.toilet{
    background-color: #ceffdc;
}

#inputRoom2Go{
  bottom: 0px;
  position: fixed;
}

#openGeneralSearch, #openEquipmentSearch, #openTimeSearch{
    font-weight: bold;
}
  ion-list:first-child {
    margin-top: 32px;
  }
  ion-list + ion-list {
    margin-top: 0;
  }

.time{
    display: block;
    float: left;
    width: 50%;
  }

.startDate{
    display: block;
    float: left;
}

.startDateInput{
    float: left;
}

.physical{
    margin-left: 0.1px;
    display: block;
    float: left;
    width: 33.5%;
}

#searchBtn{
    background-color: #E0E0E0;
}
#openPhysical{
    font-weight: bold;
}

.singIn{
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
}

#navigateResult{
    margin-right: 53px;
    /*height: 25px;*/
}

#resultPage{
    margin-top: 50px;
}

#sideMenu{
    position: fixed;
    right: 0;
    width: 9%;
    height: 100%;
    background-color: #f5f5f0;
}

/*#footerMenu{
    position: fixed;
    width: 100%;
    bottom: 0;
}*/

.accessibilityMapSymbol{
    background-size: 34px 34px;
    background-image: url("../img/accessibility.png");
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
}

#chooseDateForEvents{
    text-align: left;
    font-size: 16px;
    margin-left: 10px;
}

#calendarIcon{
    font-size: 19px;
}

.eventPosition{
    margin-left: 10px;
}

#navigateEvent{
    margin-right: 60px;
    margin-top: 10px;
}

#infoEvent{
    margin-top: 10px;
}